@import "./style/common.css";
@import "./style/reset.css";

:root {
    --main-color: #444E60;
    --white-color: #FFF;
}

.white {
    color: var(--white-color);
}

body {
    margin: 0;
}

nav {
    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.landing-page-icon {
    margin-left: 123px;
}

nav > ul > li {
    margin-left: 32px;
    color: var(--main-color);
    font-size: 16px;
}

nav > ul {
    display: inline-flex;
    margin-right: 120px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
}

.sec-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 120px;
    height: 590px;
    background: rgba(51, 129, 255, 0.04);
    position: relative;
}

.sec-1--left {
    z-index: 1;
}

.sec-1--right {
    position: absolute;
    right: 120px;
    bottom: 0;
}

.sec-3 > div {
    display: flex;
}

.sec-4 {
    background: url("./image/sec4.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.sec-7 {
    background: url("./image/sec7.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 84px;
    font-size: 14px;
    background: #2D3441;
    color: var(--white-color);
}

.sec-1--agreement {
    color: #7A7B7C;
    font-size: 14px;
}

.sec-1--desc-1 {
    color: var(--main-color);
    font-size: 40px;
}

.sec-1--desc-2 {
    color: var(--main-color);
    font-size: 28px;
    font-weight: lighter;
    font-weight: 300;
}

.get-source-btn {
    margin-top: 36px;
}

.sec-1--left {
    width: 500px;
    margin-top: 100px;
}

.sec-1--left > p:not(:first-child) {
    margin-top: 12px;
}

.sec-header > .sec-2--desc-1{
    margin-left: 4px;
}

.sec-2 > .sec-2--desc-2{
    margin: 32px 120px;
    color: var(--main-color);
    font-size: 16px;
}

.sec-3--download-list {
    margin-top: 32px;
    margin-bottom: 48px;
    color: var(--main-color);
}

.sec-3-desc-1 {
    color: var(--white-color);
}

.sec-3--download-list > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 160px;
    height: 160px;
    border-radius: 16px;
    border: 1px solid #DBE1EA;
    cursor: pointer;
    transition: border-color .1s linear,
                box-shadow .2s ease;
}

.sec-3--download-list > a:hover {
    border-color: #f1f2f3;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
}

.sec-3--download-list > a:not(:first-child) {
    margin-left: 32px;
}

.create-btn {
    margin-top: 26px;
}

.sec-7 > .sec-header {
    flex-direction: column;
}

.sec-tab--big-class {
    color: var(--white-color);
    font-size: 24px;
    margin: 0 0 0 4px;
}

.sec-tab-desc {
    color: var(--white-color);
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
    opacity: 0.64;
}

.sec-tab--item {
    width: 276px;
    height: 175px;
    opacity: 0.12;
    cursor: pointer;
    transition: opacity .1s ease;
}

.sec-tab--item.active {
    opacity: 1;
    transition-duration: 0s;
}

.sec-4--main {
    display: flex;
    align-items: center;
    width: calc(100vw - 240px);
    margin-top: 32px;
    margin-bottom: 54px;
}

.sec-tab--img {
    flex: 1;
    margin-left: 16px;
    margin-bottom: 32px;
}

.sec-tab--img > img {
    max-width: 100%;
    object-fit: contain;
}

.sec-6 {
    padding-bottom: 48px;
}

.sec-7 {
    padding-bottom: 56px;
}
