.icon {
    width: 36px;
    height: 36px;
}

.download-icon {
    width: 40px;
    height: 40px;
}

.landing-page-nav-wrap {
    background: rgba(51, 129, 255, 0.04);
}

.landing-page-nav {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing-page-navs {
    display: inline-flex;
    align-items: center;
}

.router {
    cursor: pointer;
}

.router.aside {
    position: absolute;
    top: 0; right: 0;
    padding: 8px;
}

.router select {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: var(--main-color);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    border-radius: 28px;
    border: 1px solid #3381FF;
    color: #3381FF;
    cursor: pointer;
}

.btn:hover {
    background-color: #3381FF;
    color: white;
}

.btn:hover img {
    filter: grayscale(1) brightness(3);
}

/* 一级描述 */
.sec-desc {
    color: var(--main-color);
    font-size: 24px;
    margin: 0;
}

/* 二级描述 */
.sec-desc-2 {
    color: var(--main-color);
    font-size: 16px;
    opacity: 0.64;
    margin: 0;
}

/* header */
.sec-header {
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.margin-top-12 {
    margin-top: 12px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    align-items: center;
}
