* {
    box-sizing: border-box;
}

body {
    font-family:
        system-ui,
        -apple-system, /* Firefox supports this but not yet `system-ui` */
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}
